body {
	font-size: 15px;
    line-height: 1.52;
    color: whitesmoke;
    background-color: #2b5d83;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}
.navigate-up{
    position: fixed;
    z-index: 1;
    bottom: 2%;
    right: 1.5%;
    border-radius: 50%;
    width: 3.5vw;
}
h2{
    color: white;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.section-padding{
	padding: 60px 0px;
}
h1, h2, h3, h4, h5, h6{
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    color: #4B4B4C;
}
a{
    color: #5fcf80;
}
a:hover, a:focus{
    color: #5fcf80;
}
/***********************************
Navigation bar
************************************/
.logo1{
    position: absolute;
    right: 2%;
    top: 19%;
    width: 11%;
}
.logo2{
    border-radius: 25% ;
    border: 1px solid white;
    width: 12%;
    position: absolute;
    left: 2%;
    top: 19%;
}
.socials{
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 80%;
    right: 4%;
}
.socials img{
    width: 2.5vw;
    margin-left: 8%;
}

.logo2Desc{
    border-radius: 15% ;
    border: 1px solid white;
    width: 12%;
    position: absolute;
    left: 2%;
    top: 65%;
    opacity: 0.6;
    background-color: #2b5d83;
}

.logostat1{
    color: #4b4b4b;
    font-weight: bolder;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 0.7%;
    width: 50%;
}
.logostatmain{
    width: 50%;
    margin-top: 1%;
    box-shadow: 0px 0px 10px 10px rgba(21, 67, 76, 0.353);
}

.logostatmain:hover{
    width: 50%;
    margin-top: 1%;
    box-shadow: 0px 0px 0px 0px ;
}

.logopara{
    width: 70%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: 500;
}
.logopara p{
    margin: 0%;
}
.logocontact{
    font-weight: 1300;
    padding-bottom: 1%;
}
.logocontact2{
    display:  none;
}


.homeIcon{
    margin-top: 35%;
    margin-left: 50%;
}
.homeIcon2{
    display: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #5FCF80;
}


.navbar-default .navbar-brand {
    color: #5FCF80;
}
.navbar-default {
    background-color: #ffffff;
}
.course-text{
    padding: 84px;
}
.navbar-default .navbar-nav > li > a {
    color: whitesmoke;
    font-size: 14px;
    font-weight: 700;
}
.navbar-default .navbar-nav > li > a > img {
    width: 2vw;
    padding: 2%;
    transition: width 1s;
}

.navbar-nav > li > a{
	padding: 0px;
	margin: 10px 5px;
	padding: 10px 15px;
}

.navbar-default .navbar-nav > li > a >img:hover{
    width: 3.5vw;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
	color: #5FCF80;
}

.navbar-nav .active a{
    background: none !important;
    color: #5FCF80;
    outline: none;
}

.btn-trial a{
	background-color: #00CCFF;
	border-radius: 25px;
	color: #ffffff !important;
	border: 1px solid #00CCFF;
}
.btn-trial a:hover, .btn-trial a:focus{
	border: 1px solid #5FCF80;
	background-color: #fff;
	color: #5FCF80 !important;
}
.navbar-default .navbar-brand {
    font-family: 'Dosis', sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
    height: inherit;
    font-size: 36px;
}
.navbar-default .navbar-brand span{
	font-weight: 100 !important;
}
.navbar {
    margin-bottom: 0px;
    background-color:#2b5d83 ;
    border: none;

}
.padding-zero{
	padding: 0px;
}
.mart20{
	margin-top: 20px;
}

/* dropdown  */

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0px ;
    padding: 0px ;
    padding-bottom: 3%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #17B1D3;
    box-shadow: 0px 10px 10px 10px rgba(49, 69, 103, 0.748);
    transition: 0.3s;
    border-radius: 4px;    
    /* text-align: center; */
    /* border-top: 2px white solid; */
    border-bottom: 4px white solid;
  }
  .navbar .dropdown ul li {
    min-width: 130px;
  }
  .navbar .dropdown ul a {
    padding: 0px 5px;
    font-size: 11px;
    text-transform: none;
    font-weight: 700;
    color: white;
    opacity: 0.9;
    
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #5fcf80;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }

/***********************************
Banner
************************************/
/* .banner{
	background: url('../img/bg-banner.jpg') no-repeat center top;
    background-size: cover;
	min-height: 580px;
    position: relative;
}
.bg-color{
	background-color: RGBA(12, 11, 11, 0.82);
	min-height: 580px;
} */




.brCol{
    background-color: #111;
}

.mainShow{
    position: relative;
    margin: 2.3% 2%;
}


/* .bg {
    width: 100%;
    border: 5px steelblue solid;
    border-radius: 8%;
    margin-top: 1%;
    opacity: 0%;
} */

.bgP1{
    position: absolute;
    width: 45%;
    top: 3%;
    right: 26%;
    opacity: 0.2;
    box-shadow: 0px 10px 5px 5px rgba(49, 69, 103, 0.748);
}
.bgP1:hover{
    opacity: 0.7;
    box-shadow: 0px 10px 10px 10px rgba(49, 69, 103, 0.748);
}

.bgP2{
    width: 100%;
    border-radius: 15%;
    box-shadow: 0px 10px 10px 10px rgba(49, 69, 103, 0.748);
}

.bgP3{
    position: absolute;
    width: 40%;
    bottom: 8.5%;
    left: 0%;
    opacity: 0.55;
    box-shadow: 0px 10px 5px 5px rgba(49, 69, 103, 0.748);
    border-radius: 2% 2% 2% 15%;
}
.bgP4{
    position: absolute;
    width: 25%;
    bottom: 7.5%;
    right: 0%;
    opacity: 0.55;
    box-shadow:0px 10px 5px 5px rgba(49, 69, 103, 0.748);
    border-radius: 2% 2% 10% 2%;
}

.bgP3:hover{
    opacity: .9;
    box-shadow: 0px 10px 10px 10px rgba(49, 69, 103, 0.748);
}

.bgP4:hover{
    opacity: .9;
    box-shadow: 0px 10px 10px 10px rgba(49, 69, 103, 0.748);
}
.bgIcon{
    position: absolute;
    top: 5%;
    width: 7%;
    left: 3%;
    border-radius: 40%;
    box-shadow: 0px 10px 10px 10px rgba(49, 69, 103, 0.748);
}

.text-dec{
	font-size: 24px;
	padding: 10px 20px;
    margin: 15px 0;
	text-transform: uppercase;
    color: #fff;
}
.text-border{
	border: 5px solid #5FCF80;
	display: inline-block;
	margin-top: 150px;
}
.intro-para{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 45px;
	color: #fff;
	margin-top: 30px;
}
.quote .btn{
    /* background-color: */
}
.modal-dialog {
    width: 600px;
    margin: 150px auto;
}
.mouse {
    width: 25px;
    height: 45px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -12.5px;
    border-radius: 12px;
}
@-webkit-keyframes rotateplane {
    0%   {top:10px;}
    25%  {top:14px;}
    50%  {top:19px;}
    75%  {top:24px;}
    100% {top:28px;}
}
@-moz-keyframes rotateplane {
    0%   {top:10px;}
    25%  {top:14px;}
    50%  {top:19px;}
    75%  {top:24px;}
    100% {top:28px;}
}
@-o-keyframes rotateplane {
    0%   {top:10px;}
    25%  {top:14px;}
    50%  {top:19px;}
    75%  {top:24px;}
    100% {top:28px;}
}
.mouse::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 100%;
    left: 50%;
    top:10px;
    margin-left: -2.5px;
    transition:all 0.3s ease-in;

     -webkit-animation-name: rotateplane; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: rotateplane;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.modal-content h4 {
    font-size: 1.5em;
    font-weight: 700;
}
.login-box-body {
    padding: 15px 30px;
}
.login-box-msg, .register-box-msg {
    margin: 0px;
    text-align: center;
    padding: 0px 20px 20px;
}
.modal-sm {
    width: 400px;
}
.padleft-right{
    padding-left: 5px;
    padding-right: 0px;
}
.big-text{
    font-size: 35px;
}
.small-text{
    font-size: 16px;
}
.quote .btn{
    background-color: #5fcf80;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}
.quote .btn:hover, .quote .btn:focus{
    background-color: #fff;
    color: #5fcf80;
    border-color: #fff;
     -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/*****************************************
Principal's desk
*****************************************/
.principal-desk li{
    list-style-image: url('../img/list-style-4.gif');
    margin-bottom: 2%;
    margin-right: 2%;
    font-size: medium;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.principal-desk p{
    font-size: large;
}
.principal-desk h3{
    padding-bottom: .7%;
    border-bottom: 2px solid white;
    width: fit-content;
    margin-bottom: 2%;
    color: #17B1D3;
    font-size: larger;
}

.intro-princi{
    position: absolute;
    background-color: wheat;
    color: #000;
    bottom: 9%;
    right: 32%;
    border: 3px white solid;
    box-shadow: 0px 1px 1px 1px rgba(4, 4, 4, 0.75);
    font-size: smaller;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.intro-princi p{
    margin: 0;
    padding: 0;
    font-size: .75vw;
    font-weight: 400;
}

.image-fluid {
    padding: 10%;
    padding-bottom: 13%;
    width: 100%;
    box-shadow: 0px 10px 10px 10px rgb(49 69 103 / 75%);
    transition: box-shadow .5s linear, padding .6s linear;
    border: white .1px solid;
}
.image-fluid:hover {
    box-shadow: 0px 0px 0px 0px rgba(49, 69, 103, 0.748);
    border: none;
}
    

section {
    padding: 10px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f6f7f6;
  }
  
  .section-title {
    padding-bottom: 40px;
  }
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #9ae1af;
    margin: 4px 10px;
  }
  .section-title p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #37423b;
    border-bottom: white 4px solid;
    width: fit-content;
  }
 /* --Testimonials */

.testimonials .testimonial-wrap {
    padding-left: 50px;
  }
  .testimonials .testimonials-carousel, .testimonials .testimonials-slider {
    overflow: hidden;
  }
  .testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 200px;
    border: 1px solid #eef0ef;
    position: relative;
    background: #fff;
  }
  .testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 10px;
    border: 6px solid #fff;
    position: absolute;
    left: -45px;
  }
  .testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  .testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
    color: yellowgreen;
    font-size: 26px;
  }
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }
  .testimonials .testimonial-item p {
    font-style: italic;
    color: #000;
    margin: 15px auto 15px auto;
  }
  .testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #5fcf80;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #5fcf80;
  }
  @media (max-width: 767px) {
    .testimonials .testimonial-wrap {
      padding-left: 0;
    }
    .testimonials .testimonials-carousel, .testimonials .testimonials-slider {
      overflow: hidden;
    }
    .testimonials .testimonial-item {
      padding: 30px;
      margin: 15px;
    }
    .testimonials .testimonial-item .testimonial-img {
      position: static;
      left: auto;
    }
  }





/***********************************
About
************************************/
#about ul li{
    list-style-image: url('../img/list-style-4.gif');
}
#about li{
    font-size: medium;
    font-weight: 400;
    margin-top: 2.5vh;
}
#about h4{
    border-bottom: rgb(168, 168, 168) solid 3px;padding-bottom: 2.5%;width: fit-content;
}
#about ul{
    margin-top:4vh ;
    margin-bottom:3vh ;
}
#about p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 500;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
#about img{
    width: 2.5vw;
    margin-right: 1%;
    border-radius: 50%;
    transition: width 1s;
}

.support{
    display: none;
}

#about img:hover{
    width: 3.5vw;
}

h2{
    color: whitesmoke;
	font-size: 24px;
	padding-bottom: 15px;
    text-shadow: 5px 5px #558ABB;
}
h2:hover{
    text-shadow: 0px 0px ;
}
.bottom-line{
	width: 25px;
	height: 3px;
	background-color: rgb(99, 122, 145);
}
.fea{
	margin-top: 25px;
}
.fea-img {
  width: 20%;
}
.heading {
    width: 80%;
}
.fea i {
    font-size: 39px;
    color: #5FCF80;
    margin-top: 7px;
}
.heading h4 {
    font-size: 17px;
    line-height: 1.25;
    font-weight: 700;
    color: #000;
    margin: 10px 0px;
    text-align: left;
}
.heading p {
  text-align: left;
}

/***********************************
 Organisations
************************************/
#organisations{
    background-color: rgb(247, 247, 247);
}
.orga-stru
{
    background-color: #00CCFF;
    width: 109px;
    height: auto;
    padding: 10px 10px 25px 10px;
    text-align: center;
    border-radius: 0px 80px 99px 99px;
    -moz-border-radius: 0px 80px 99px 99px;
    -webkit-border-radius: 0px 80px 99px 99px;
    -o-border-radius: 0px 80px 99px 99px;
}
.orga-stru h3 {
    font-size: 36px;
    color: white;
    font-weight: bold;
}
.orga-stru p {
    font-size: 14px;
    color: white;
    font-weight: normal;
    line-height: 20px;
    padding-top: 15px;
}
.orga-stru i
{
    font-size: 150px;
    margin-top: 35px;
    color: rgb(255, 255, 255);
}
h3.det-txt {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
h4.sm-txt {
    color: #00CCFF;
    font-size: 24px;
}
p.det-p {
    font-size: large;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    padding: 40px 0px;
}
#pricing{
    display: none;
    background: rgb(247, 247, 247);
}
/***********************************
Register
************************************/
#register{
    padding: 140px 0;
}
h2.text-center img{
    box-sizing: content-box;
    width: 2.5vw;
    margin-right: 1%;
    border-radius: 50%;
    transition: width 1s;
    border: #000 solid .2vw;
}

h2.text-center img:hover{
    border: #000 solid .3vw;
    width: 3.5vw;
}

.register-txt {
    font-size: 27px;
    padding-bottom: 15px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 34px !important;
}
.register-form input[type="email"] {
    border: 0px solid #CCC;
    padding: 13px 40px;
    font-size: 18px;
    color: #2b5d83;
    font-weight: 100;
    min-width: 280px;
    margin-left: -4px;
    margin-bottom: 2px;
    border: 1px solid #5fcf80;
    background-color: rgb(247, 247, 247);
    border-radius: 30px 0px 0px 30px;
}
.register-form-submit-btn {
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    background-color: #00CCFF;
    border: 2px solid #fff;
    padding: 14px 30px;
    margin-left: -4px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    border-width: 1px 1px 1px 0px;
    border-radius: 0px 30px 30px 0px;
}
/***********************************
Courses
************************************/
#courses {
    background-color: rgb(230, 222, 222);
}
#courses h2{
    color: black;
    text-shadow: 5px 5px rgba(163, 162, 162, 0.815);
}
#courses p{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: large;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

.i img{
    width: 2.5vw;
    padding: .16vw;
    margin-right: 1%;
    border-radius: 50%;
    transition: width 1s;
    box-sizing: content-box;
    border: #000 solid .2vw;
}

.i img:hover{
    width: 3.5vw;
    border: #000 solid .3vw;
}
.icon-box img{
    width: 4.5vw;
    margin-right: 1%;
    border-radius: 50%;
    transition: width 1s;
    box-sizing: content-box;
    border: #000 solid .2vw;
}

.icon-box img:hover{
    width: 5.5vw;
    border: #000 solid .3vw;
}

#courses h2:hover{
    text-shadow: 0px 0px ;
}

.service-box{
    background: #fff;
    padding: 20px 15px 40px;
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.1);
    border-radius: 7%;
}
.ser-text {
    font-size: 24px;
}
.icon-box, .icon-text {
    padding: 20px 0px 0px;
}


/*--------------------------------------------------------------
# Trainers
--------------------------------------------------------------*/
.breadcrumbs {
    margin-top: 2%;
    text-align: center;
    background: #0077b6;
    padding: 30px 0;
    color: #fff;
    padding: 1.5%;
    margin-bottom: 4% ;
    width: fit-content;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    opacity: .9;
  }
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 63px;
    }
  }
  .breadcrumbs h2 {
    font-size: 32px;
    width: fit-content;
    font-weight: 1100;
    border-bottom: 4px solid whitesmoke; 
  }
  .breadcrumbs p {
    margin-bottom: 0;
    font-size: large;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .scnd_para p{
    font-size: medium;
  }
  .breadcrumbs span {
    font-size: medium;
    font-weight: 1000;
    float: right;
  }
.trainers .member {
    text-align: center;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #eef0ef;
  }
  .trainers .member img {
    margin: -1px -1px 30px -1px;
  }
  .trainers .member .member-content {
    padding: 0 20px 30px 20px;
  }
  .trainers .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: rgb(215, 169, 52);
  }
  .trainers .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: silver;
  }
  .trainers .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
  }
  .trainers .member .social {
    margin-top: 15px;
  }
  .trainers .member .social a {
    transition: 0.3s;
  }
  .trainers .member .social a:hover {
    color: #5fcf80;
  }
  .trainers .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  .img-fluid{
      width: 90%;
      border-radius: 50%;
      /* margin: 14%; */
      box-shadow: 0px 10px 10px 10px rgba(49, 69, 103, 0.748);
      transition: box-shadow .5s linear, padding .6s linear;
      transition: box-shadow .5s linear, padding .6s linear;
  }
   .img-fluid:hover{
      
    padding: 10%;
      box-shadow: 0px 0px 0px 0px rgba(49, 69, 103, 0.748);
  }
  .member{
      border-radius: 4%;
      opacity: 0.75;
      transition: border-radius 1s , background-color 1s ease-in ,opacity 1s;
      
  }
  .member:hover{
      border-radius: 30% 30% 20% 20%;
      opacity: 1;
      background-color: rgb(34, 33, 33);
      color: white;
  }
  .member-content:hover{
      color: white;
  }
  
/***********************************
Testimonial
************************************/
/* #testimonial{
    display: none;
    background-color: #111;
}
.bg-white{
    background-color: #fff !important;
}
.text-comment{
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.text-par{
  font-size: 20px;
  padding-bottom: 15px;
} */


/***********************************
Institution
************************************/
#Institution p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: large;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
#Institution container:nth-child(){
}
 .img1 img{
    opacity: 0;
}
 .img2 img{
    opacity: 0;
}
 .img3 img{
    opacity: 0;
}
 .img4 img{
    opacity: 0;
}
 .img5 img{
    opacity: 0;
}
 .img6 img{
    opacity: 0;
}
 .img7 img{
    opacity: 0;
}
.img1{
    background-color: #03254c;
}
.img2{
    background-color: #1167b1;
}
.img3{
    background-color: #187bcd;
}
.img4{
    background-color: #2a9df4;
}
.img5{
    background-color: #0077b6;
}
.img6{
    background-color: #00b4d8;
}
.img7{
    background-color: #90e0ef;
}

.imghvr-fold-up{
    position: relative;    
}

.imghvr-fold-up ul{
    padding-left: 6%;
    padding-top: 5%;
    padding-right: 0%;
    padding-bottom: 0%;
}

.imghvr-fold-up ul li{
    list-style-image: url('../img/list-style-4.gif');
    margin-bottom: 1.1%;
}


.topic{
    display: inline;
    width: fit-content;
    position: absolute;
    top: 5%;
    left: 3%;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    border: white solid .3vh;
    padding: 2%;
    text-shadow: 2.5px 2.5px #000 ;
    box-shadow: 0px 60px 60px 60px rgba(49, 69, 103, 0.748);
    opacity: 2;
}

.innerTopic{
    width: fit-content;
    border-bottom: white solid 3px;
    padding-bottom: 1%;
    font-size: 1.5vw;
    font-weight: 600;
}
.innerTopic2{
    width: fit-content;
    border-bottom: white solid 3px;
    padding-bottom: 1%;
    font-size: 1.2vw;
    font-weight: 600;
}

.topic-contents{
    font-size: 1.1vw;
}
.topic-contents2{
    font-size: .84vw;
}



[class*=" imghvr-"] figcaption, [class^="imghvr-"] figcaption {
    background-color: black;
}
[class*=" imghvr-"], [class^="imghvr-"] {
    color: #fff;
}



/***********************************
Price Table
************************************/
.price-table {
    box-shadow: 0px 0px 1px 0px RGBA(0, 0, 0, 0.4);
    position: relative;
}
.price-table .pricing-head {
    background: #fff;
    padding: 40px;
    text-align: center;
}
.price-table .pricing-head h4 {
    font-size: 22px;
    color: #232c3b;
    margin-top: 0px;
    letter-spacing: 1px;
    border-bottom: 1px solid #232c3b;
    padding-bottom: 20px;
}
.pricing-head .amount {
    font-size: 60px;
    font-weight: bold;
}
.pricing-head .curency {
    display: inline-block;
    position: relative;
    top: -30px;
    font-size: 20px;
}
.price-in {
    background: #fff;
    text-align: center;
}
.btn-bg {
    border: 0px;
    border-radius: 0px;
    color: #fff !important;
    padding: 20px 0px;
    font-weight: bold !important;
    font-size: 14px;
    background-color: #5fcf80;
}

/****************************************
student support system
****************************************/
#studSuport {
    background-color: rgb(230, 222, 222);
}
#studSuport h2{
    color: black;
    text-shadow: 5px 5px rgba(163, 162, 162, 0.815);
}
#studSuport p{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: large;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
}




/***********************************
Contact Us
************************************/
#contact p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: large;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

.contact form .form {
    width: 100%;
    height: auto;
    padding: 15px 15px 12px;
    font-size: 18px;
    margin-bottom: 18px;
    color: #7f7f7f;
    letter-spacing: 0.5px;
}
#contact .form-control {
    background: #fafafa;
    border: 1px solid rgba(119, 81, 81, 0.34);
    width: 100%;
	margin-bottom: 15px;
    border-radius: 0;

}
.textarea {
    height: 228px;
    max-width: 100%;
    max-height: 229px;
}
.light {
    font-weight: 100;
}
.white{
    color: #fff !important;
}
#submit{
    margin: 2%;
}
#submit:hover{
    background-color: #9ae1af;
}
.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

/***********************************
Footer
************************************/
.footer {
    padding: 60px 0 20px;
    background: #111;
    color: #ccc;
}
.footer a {
    color: #fff;
}

.footer h3{
	font-weight: 300;
	letter-spacing: 0.05em;
	margin: 0 0 40px;
	font-size: 24px;
}
.footer .form-control {
    border-radius: 30px;
    border: none;
    background: rgba(255,255,255,.1);
    padding-left: 30px;
    color: #e5e6e7;
    margin-bottom: 0;
    height: 48px;
}
.footer .social-links li a {
    color: #fff;
    font-size: 32px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.footer .social-links li {
    display: inline-block;
    margin: 0 25px 25px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.footer .mc-trial {
    margin: 20px 0;
}
.footer .social-links {
    list-style: none;
    padding: 0;
    margin: 30px 0 40px;
    padding: 40px 0 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.btn-submit:hover, .btn-submit:focus{
    background-color: #5fcf80;
    color: #fff;
}
.btn-submit{
	padding: 14px 12px;
	border-radius: 50px;
	text-transform: uppercase;
    background-color: #5fcf80;
    color: #fff;
}
.btn-submit i{
	padding-left: 8px;
}

.btn-sec {
    margin-top: 20px;
}
.ser-btn {
    padding: 10px 18px;
    border: 0px;
    background-color: #222935;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 20px;
}
.mem-info{
    padding: 45px 10px 0px;
    background-color: #eee;
}
.mem-info h4 {
    font-size: 18px;
    padding: 10px 0px;
}
.mem-info h3{
    font-size: 24px;
    padding: 15px 0px;
}
.mem-info h5
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mem-info p {
    margin: 0 0 10px;
}
.agent-social li {
    display: inline-block;
    padding: 0px 10px 0px 0px;
    margin-bottom: 10px;
}
.btn {
    padding: 10px 20px;
}
.light-form-button{
    background: #5fcf80;
    border: 1px solid rgba(119, 81, 81, 0.34);
    width: 24%;
    padding: 10px 10px;
    margin-bottom: 15px;
    color: #fff;;
-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-green, .btn-green:hover{
    background-color: #5fcf80;
    color: #fff;
}
.footer .form-control:focus{
    box-shadow: none;
}

/***********************************
************************************
Responsive media queries
************************************
***********************************/

@media (min-width: 769px) and (max-width: 980px) {
    .ser-text {
    font-size: 20px;
    }
    .service-box, .feature-info, .orga-stru{
        margin-bottom: 30px;
    }
    .pricing-head .amount {
    font-size: 51px;
    }
    .price-table .pricing-head h4 {
    font-size: 18px;
    }
}
@media (min-width: 451px) and (max-width: 768px) {
    .ser-text {
    font-size: 20px;
    }
    .service-box, .feature-info{
        margin-bottom: 30px;
    }

    .pricing-head .amount {
    font-size: 51px;
    }
    .price-table .pricing-head h4 {
    font-size: 18px;
    }
}
@media (min-width: 20px) and (max-width: 450px) {
    .text-dec {
    font-size: 20px;
    }
    .big-text {
    font-size: 30px;
    }
    .small-text {
    font-size: 14px;
    }
    .intro-para {
    font-size: 30px;
    }
    .header-section p{
        font-size: 14px;
    }
    .heading {
    margin-bottom: 20px;
    }
    .orga-stru i {
    font-size: 92px;
    }
    .orga-stru {
    padding: 5px 5px 15px 5px;
    width: 75px;
    margin-bottom: 20px;
    }
    .orga-stru h3 {
    font-size: 28px;
    }
    .orga-stru p {
    font-size: 13px;
    }
    h3.det-txt {
    font-size: 28px;
    }
    .register-txt {
    font-size: 20px;
    }
    .service-box, .text-comment, .price-table{
        margin-bottom: 30px;
    }
    .contact-form-button{
        width: 40%;
    }
    .footer .social-links li {
    margin: 0 5px 25px;
    }
    .register-form-submit-btn {
    font-size: 10px;
    }
    .register-form input[type="email"] {
    padding: 13px 10px;
    font-size: 10paboux;
    min-width: 187px;
    }
    .modal-sm {
    width: 300px;
    }
    .login-box-body {
    padding: 15px 20px;
    }
    .navbar-default .navbar-brand{
        margin-left: 10px;
    }
    .navbar-default .navbar-nav > li > a{
        text-align: center;
    }
}





@media only screen and (max-width: 768px) and (min-width: 426px)  {
    .navbar-default .navbar-brand {
        color: #5FCF80 ;
        margin-left: 10px ;
        font-family: 'Dosis', sans-serif !important;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0px;
        height: inherit; 
        font-size: 26px;
    }
    #extra{
        display: none;
    }
    
    /* navbar */

    li.btn-trial{
        display: none;
    }
    .navbar-default .navbar-nav > li > a {
        color: whitesmoke;
        font-size: 16px;
        font-weight: 700;
    }
    .navbar-default .navbar-nav > li > a > img {
        width: 3.5vw;
        padding: 2%;
        transition: width 1s;
    }
    
    .navbar-nav > li > a{
        padding: 0px;
        margin: 10px 5px;
        padding: 10px 15px;
    }
    
    .navbar-default .navbar-nav > li > a >img:hover{
        width: 5vw;
    }

    /* about-section */

    #about img {
        width: 4.5vw;
        margin-right: 1%;
        border-radius: 50%;
        transition: width 1s;
    }
    #about img:hover {
        width: 6vw;
    }
    
    /* register-section */

    #register img {
        
        box-sizing: content-box;
        width: 4.5vw;
        margin-right: 1%;
        border-radius: 50%;
        transition: width 1s;
        border: #000 solid 0.3vw;
    }
    #register img:hover{
        width: 6vw;
        border: #000 solid 0.4vw;
    }

    /* courses-section  */
    .i img{
        width: 4.5vw;
        margin-right: 1%;
        border-radius: 50%;
        transition: width 1s;
        box-sizing: content-box;
        border: #000 solid .3vw;
    }
    
    .i img:hover{
        width: 6vw;
        border: #000 solid .4vw;
    }
    .icon-box img{
        width: 6.5vw;
        margin-right: 1%;
        border-radius: 50%;
        transition: width 1s;
        box-sizing: content-box;
        border: #000 solid .2vw;
    }
    
    .icon-box img:hover{
        width: 8.5vw;
        border: #000 solid .3vw;
    }

/***********************************
Institution
************************************/
    .innerTopic2{
        width: fit-content;
        border-bottom: white solid 3px;
        padding-bottom: 1%;
        font-size: 2.2vw;
        font-weight: 600;
    }

    .topic-contents2{
        font-size: 1.5vw;
    }

/*--------------------------------------------------------------
# Trainers
--------------------------------------------------------------*/
.breadcrumbs {
    margin-top: 2%;
    text-align: center;
    background: #0077b6;
    padding: 30px 0;
    color: #fff;
    padding: 1%;
    margin-bottom: 4% ;
    width: fit-content;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    opacity: .9;
  }
  .breadcrumbs p {
    margin-bottom: 0;
    font-size: medium;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .scnd_para p{
    font-size: small;
  }
  .breadcrumbs span {
    font-size: small;
    font-weight: 800;
    float: right;
  }
  /**********************************
  principal's desk
  **********************************/
  .intro-princi{
    position: absolute;
    background-color: wheat;
    color: #000;
    bottom: 2%;
    right: 28%;
    border: 3px white solid;
    box-shadow: 0px 1px 1px 1px rgba(4, 4, 4, 0.75);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.intro-princi p{
    margin: 0;
    padding: 0;
    font-size: 1.8vw;
    font-weight: 400;
}

.image-fluid {
    padding: 5%;
    padding-bottom: 13%;
    width: 60%;
    margin: 0%;
    box-shadow: 0px 10px 10px 10px rgb(49 69 103 / 75%);
    transition: box-shadow .5s linear, padding .6s linear;
    border: white .1px solid;
}
}









@media only screen and (min-width: 1440px){
    /* body{display: none;} */
    .logo1{
        position: absolute;
        right: 2%;
        top: 16%;
        width: 9%;
    }
    .logo2{
        border-radius: 40% ;
        border: 1px solid white;
        width: 9%;
        position: absolute;
        left: 2%;
        top: 16%;
    }   
    .logo2Desc{
        border-radius: 15% ;
        border: 1px solid white;
        width: 10%;
        position: absolute;
        left: 2%;
        top: 63%;
        opacity: 0.5;
    }
}




@media only screen and (min-width: 769px) and (max-width: 1024px){
    .intro-princi{
        position: absolute;
        background-color: wheat;
        color: #000;
        bottom: 28%;
        right: 0%;
        border: 3px white solid;
        box-shadow: 0px 1px 1px 1px rgba(4, 4, 4, 0.75);
        font-size: larger;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
    }
    .intro-princi p{
        margin: 0;
        padding: 0;
        font-size: 2vw;
        font-weight: 400;
    }
}








@media only screen and (max-width: 766px) and (min-width: 426px)  {

    .logopara p{
        display: none;
    }
    .logostat1{
        font-size: small;
        border: .5px white solid;
        margin-top: 1.5%;
    }
    .logocontact{
        font-size: smaller;
        width: 70%;
        color: #4b4b4b;
        font-weight: 500;
    }
    .socials img{
        width: 3.6vw;
        margin-left: 8%;
    }
    .logo2Desc{
        border-radius: 15% ;
        border: 1px solid white;
        width: 12%;
        position: absolute;
        left: 2%;
        top: 70%;
        opacity: 0.6;
        background-color: #2b5d83;
    }
 
    /* navbar  */

    .homeIcon{
        display: none;
    }
    .homeIcon2{
        display: block;
        margin-top: 1.5%;
        margin-left: 2%;
        margin-bottom: 2%;
    }
    .logostat1{
        display: none;
    }
    .navbar-header{
        margin-top: 0.8%;
        margin-bottom: 2%;
    }
    br.break{
        display: none;
    }
    div.break{
        display: none;
    }
    .logocontact{
        display: none;
    }
    .logocontact2{
        display: block;
    }
    .logocontact2 img{
        width: 60%;
        padding: 1%;
        margin-bottom: 3.5%;
        border-radius: 10%;
        border: whitesmoke 0.1px solid;        
        opacity: 0.85;
        box-shadow: 0px 5px 5px 5px rgba(49, 69, 103, 0.748);
    }
    .logocontact2 img:hover{        
        opacity: 1;
        border: whitesmoke 0px solid;      
        box-shadow: 0px 0px 0px 0px rgba(49, 69, 103, 0.748);
    }
    .navbar-default .navbar-nav > li > a {
        color: whitesmoke;
        font-size: 10px;
        font-weight: 700;
    }
    .navbar-default .navbar-nav > li > a > img {
        width: 6vw;
        padding: 0%;
        margin: 1%;
        transition: width 1s;
    }
    
    .navbar-nav > li > a{
        padding: 0px;
        margin: 10px 5px;
        padding: 10px 15px;
        border: #E6DEDE 4px solid;
        border-radius: 7%;
    }
    
    .navbar-default .navbar-nav > li > a >img:hover{
        width: 6vw;
    }
    
    /* background  */

    .section-padding{
        padding: 0px 0px;
    }
    img.bgIcon{
        display: none;
    }
    .bgP4{
        display: none;
    }
    .bgP1{
        position: absolute;
        width: 45%;
        top: 3%;
        right: 26%;
        opacity: 0.8;
        box-shadow: 0px 10px 10px 10px rgba(49, 69, 103, 0.748);
    }

    /* about-section */

    #about img{
        width: 9vw;
        margin-right: 1.8%;
        border-radius: 50%;
        transition: width 1s;
    }
    
    #about img:hover{
        width: 14vw;
    }

    .orga-stru{
        background-color: #00CCFF;
        width: 100%;
        height: auto;
        margin-top: 20%;
        padding: 10px 10px 25px 10px;
        text-align: center;
        border-radius: 0px 80px 99px 99px;
        -moz-border-radius: 0px 80px 99px 99px;
        -webkit-border-radius: 0px 80px 99px 99px;
        -o-border-radius: 0px 80px 99px 99px;
    }
    .navigate-up{
        position: fixed;
        z-index: 1;
        bottom: 2%;
        right: 2.5%;
        border-radius: 50%;
        width: 13vw;
    }

    /* .det-txt{} */
    
    /* register-section  */

    #register{
        padding: 7% 0;
    }
    h2.text-center img{
        box-sizing: content-box;
        width: 9vw;
        margin-right: 1%;
        border-radius: 50%;
        transition: width 1s;
        border: #000 solid .6vw;
    }
    
    h2.text-center img:hover{
        border: #000 solid .8vw;
        width: 14vw;
    }
    
    .register-form input[type="email"] {
        padding: 14px 20px;
        font-size: 12px;
        color: #2b5d83;
        font-weight: 100;
        width: 60%;
        margin-left: -4px;
        margin-bottom: 2px;
        border: 1px solid #5fcf80;
        background-color: rgb(247, 247, 247);
        border-radius: 30px 0px 0px 30px;
    }
    .register-form-submit-btn {
        font-size: 12px;
        text-transform: capitalize;
        color: #fff;
        background-color: #00CCFF;
        border: 2px solid #fff;
        padding: 14px 30px;
        margin-left: -4px;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        border-width: 1px 1px 1px 0px;
        border-radius: 0px 30px 30px 0px;
    }

    /* offered courses-section */

    .i img{
        width: 9vw;
        margin-right: 1%;
        border-radius: 50%;
        transition: width 1s;
        box-sizing: content-box;
        border: #000 solid .6vw;
    }
    
    .i img:hover{
        width: 14vw;
        border: #000 solid .8vw;
    }
    .icon-box img{
        width: 20vw;
        margin-right: 1%;
        border-radius: 50%;
        transition: width 1s;
        box-sizing: content-box;
        border: #000 solid .8vw;
    }
    
    .icon-box img:hover{
        width: 28vw;
        border: #000 solid 1.2vw;
    }    
/***********************************
Institution
************************************/
    .topic{
        display: inline;
        width: fit-content;
        position: absolute;
        top: 2%;
        left: 2%;
        font-size: 3.5vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        border: white solid 2px;
        padding: 2%;
        text-shadow: 1.5px 1.5px #000 ;
    }

    .innerTopic{
        width: fit-content;
        border-bottom: white solid 3px;
        padding-bottom: 1%;
        font-size: 4.5vw;
        font-weight: 600;
    }
    .innerTopic2{
        width: fit-content;
        border-bottom: white solid 3px;
        padding-bottom: 1%;
        font-size: 3.2vw;
        font-weight: 600;
    }

    .topic-contents{
        font-size: 2.5vw;
    }
    .topic-contents2{
        font-size: 2.84vw;
    }
/*--------------------------------------------------------------
# Trainers
--------------------------------------------------------------*/
.breadcrumbs {
    margin-top: 2%;
    text-align: center;
    background: #0077b6;
    padding: 30px 0;
    color: #fff;
    padding: 1%;
    margin-bottom: 4% ;
    width: fit-content;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    opacity: .9;
  }
  .breadcrumbs p {
    margin-bottom: 0;
    font-size: medium;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .scnd_para p{
    font-size: small;
  }
  .breadcrumbs span {
    font-size: small;
    font-weight: 800;
    float: right;
  }
    /**********************************
  principal's desk
  **********************************/
  .intro-princi{
    position: absolute;
    background-color: wheat;
    color: #000;
    bottom: 2%;
    right: 28%;
    border: 3px white solid;
    box-shadow: 0px 1px 1px 1px rgba(4, 4, 4, 0.75);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.intro-princi p{
    margin: 0;
    padding: 0;
    font-size: 1.8vw;
    font-weight: 400;
}

.image-fluid {
    padding: 5%;
    padding-bottom: 13%;
    width: 60%;
    margin: 0%;
    box-shadow: 0px 10px 10px 10px rgb(49 69 103 / 75%);
    transition: box-shadow .5s linear, padding .6s linear;
    border: white .1px solid;
}
}















@media only screen and (max-width: 426px){
    .logopara p{
        display: none;
    }
    .logostat1{
        font-size: small;
        border: .5px white solid;
        margin-top: 1.5%;
    }
    .logocontact{
        font-size: smaller;
        width: 70%;
        color: #4b4b4b;
        font-weight: 500;
    }
    .socials img{
        width: 3.6vw;
        margin-left: 8%;
    }
    .logo2Desc{
        border-radius: 15% ;
        border: 1px solid white;
        width: 12%;
        position: absolute;
        left: 2%;
        top: 70%;
        opacity: 0.6;
        background-color: #2b5d83;
    }
 
    /* navbar  */

    .homeIcon{
        display: none;
    }
    .homeIcon2{
        display: block;
        margin-top: 1.5%;
        margin-left: 2%;
        margin-bottom: 2%;
    }
    .logostat1{
        display: none;
    }
    .navbar-header{
        margin-top: 0.8%;
        margin-bottom: 2%;
    }
    br.break{
        display: none;
    }
    div.break{
        display: none;
    }
    .logocontact{
        display: none;
    }
    .logocontact2{
        display: block;
    }
    .logocontact2 img{
        width: 60%;
        padding: 1%;
        margin-bottom: 3.5%;
        border-radius: 10%;
        border: whitesmoke 0.1px solid;        
        opacity: 0.85;
        box-shadow: 0px 5px 5px 5px rgba(49, 69, 103, 0.748);
    }
    .logocontact2 img:hover{        
        opacity: 1;
        border: whitesmoke 0px solid;      
        box-shadow: 0px 0px 0px 0px rgba(49, 69, 103, 0.748);
    }
    .navbar-default .navbar-nav > li > a {
        color: whitesmoke;
        font-size: 10px;
        font-weight: 700;
    }
    .navbar-default .navbar-nav > li > a > img {
        width: 6vw;
        padding: 0%;
        margin: 1%;
        transition: width 1s;
    }
    
    .navbar-nav > li > a{
        padding: 0px;
        margin: 10px 5px;
        padding: 10px 15px;
        border: #E6DEDE 4px solid;
        border-radius: 7%;
    }
    
    .navbar-default .navbar-nav > li > a >img:hover{
        width: 6vw;
    }
    
    /* background  */

    .section-padding{
        padding: 0px 0px;
    }
    img.bgIcon{
        display: none;
    }
    .bgP4{
        display: none;
    }
    .bgP1{
        position: absolute;
        width: 45%;
        top: 3%;
        right: 26%;
        opacity: 0.8;
        box-shadow: 0px 10px 10px 10px rgba(49, 69, 103, 0.748);
    }

    /* about-section */

    #about img{
        width: 9vw;
        margin-right: 1.8%;
        border-radius: 50%;
        transition: width 1s;
    }

    #about p{
        font-size: small;
    }
    
    #about img:hover{
        width: 14vw;
    }

    .orga-stru{
        background-color: #00CCFF;
        width: 100%;
        height: auto;
        margin-top: 20%;
        padding: 10px 10px 25px 10px;
        text-align: center;
        border-radius: 0px 80px 99px 99px;
        -moz-border-radius: 0px 80px 99px 99px;
        -webkit-border-radius: 0px 80px 99px 99px;
        -o-border-radius: 0px 80px 99px 99px;
    }
    .navigate-up{
        position: fixed;
        z-index: 1;
        bottom: 2%;
        right: 2.5%;
        border-radius: 50%;
        width: 13vw;
    }

    /* .det-txt{} */
    
    /* register-section  */

    #register{
        padding: 7% 0;
    }
    #register p{
        font-size: small;
    }
    h2.text-center img{
        box-sizing: content-box;
        width: 9vw;
        margin-right: 1%;
        border-radius: 50%;
        transition: width 1s;
        border: #000 solid .6vw;
    }
    
    h2.text-center img:hover{
        border: #000 solid .8vw;
        width: 14vw;
    }
    
    .register-form input[type="email"] {
        padding: 14px 20px;
        font-size: 12px;
        color: #2b5d83;
        font-weight: 100;
        width: 60%;
        margin-left: -4px;
        margin-bottom: 2px;
        border: 1px solid #5fcf80;
        background-color: rgb(247, 247, 247);
        border-radius: 30px 0px 0px 30px;
    }
    .register-form-submit-btn {
        font-size: 12px;
        text-transform: capitalize;
        color: #fff;
        background-color: #00CCFF;
        border: 2px solid #fff;
        padding: 14px 30px;
        margin-left: -4px;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        border-width: 1px 1px 1px 0px;
        border-radius: 0px 30px 30px 0px;
    }

    /* offered courses-section */

    #courses p{
        font-size: small;
    }

    .i img{
        width: 9vw;
        margin-right: 1%;
        border-radius: 50%;
        transition: width 1s;
        box-sizing: content-box;
        border: #000 solid .6vw;
    }
    
    .i img:hover{
        width: 14vw;
        border: #000 solid .8vw;
    }
    .icon-box img{
        width: 20vw;
        margin-right: 1%;
        border-radius: 50%;
        transition: width 1s;
        box-sizing: content-box;
        border: #000 solid .8vw;
    }
    
    .icon-box img:hover{
        width: 28vw;
        border: #000 solid 1.2vw;
    }
/***********************************
Institution
************************************/
    
    #Institution p{
        font-size: small;
    }

    .topic{
        display: inline;
        width: fit-content;
        position: absolute;
        top: 2%;
        left: 2%;
        font-size: 3.5vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        border: white solid 2px;
        padding: 2%;
        text-shadow: 1.5px 1.5px #000 ;
    }

    .innerTopic{
        width: fit-content;
        border-bottom: white solid 3px;
        padding-bottom: 1%;
        font-size: 4.5vw;
        font-weight: 600;
    }
    .innerTopic2{
        width: fit-content;
        border-bottom: white solid 3px;
        padding-bottom: 1%;
        font-size: 3.2vw;
        font-weight: 600;
    }

    .topic-contents{
        font-size: 2.5vw;
    }
    .topic-contents2{
        font-size: 2.84vw;
    }
/*--------------------------------------------------------------
# Trainers
--------------------------------------------------------------*/
.breadcrumbs {
    margin-top: 2%;
    text-align: center;
    background: #0077b6;
    padding: 30px 0;
    color: #fff;
    padding-bottom: 3%;
    padding-top: 1%;
    margin-bottom: 4% ;
    width: fit-content;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    opacity: .9;
  }
  .breadcrumbs p {
    margin-bottom: 0;
    font-size: small;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .scnd_para p{
    font-size: small;
  }
  .breadcrumbs span {
    font-size: small;
    font-weight: 600;
    float: right;
  }
  .breadcrumbs h2 {
    font-size: 22px;
    width: fit-content;
    font-weight: 900;
    border-bottom: 4px solid whitesmoke; 
  }

/*****************************************
Principal's desk
*****************************************/
.principal-desk li{
    list-style-image: url('../img/list-style-4.gif');
    margin-bottom: 2%;
    margin-right: 2%;
    font-size: small;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.principal-desk p{
    font-size: smaller;
}
.principal-desk h3{
    font-size: larger;
}

.intro-princi{
    position: absolute;
    background-color: wheat;
    color: #000;
    bottom: 3%;
    right: 22%;
    border: 3px white solid;
    box-shadow: 0px 1px 1px 1px rgba(4, 4, 4, 0.75);
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.intro-princi p{
    margin: 0;
    padding: 0;
    font-size: 2.5vw;
    font-weight: 400;
}

.image-fluid {
    padding: 5%;
    padding-bottom: 20%;
    width: 100%;
    box-shadow: 0px 10px 10px 10px rgb(49 69 103 / 75%);
    transition: box-shadow .5s linear, padding .6s linear;
    border: white .1px solid;
}

  .section-title p {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #37423b;
    border-bottom: white 4px solid;
    width: fit-content;
  }
}

@media only screen and (max-width: 320px){
    .innerTopic{
        width: fit-content;
        border-bottom: white solid 3px;
        font-size: 3.5vw;
        padding-bottom: 0.7%;
        font-weight: 600;
    }
    .topic-contents{
        font-size: 2.09vw;
    }
    .intro-princi{
        bottom: 2%;
        right: 18.5%;
    }
    .image-fluid {
        font-size: x-small;
    }
    .section-title p {
        font-size: large;
        margin-top: 4%;
    }
}







/* loader */

#loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 225, 255);
    background-image: url("https://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
  }

  #button{
    display:block;
    margin:20px auto;
    padding:10px 30px;
    background-color:#eee;
    border:solid #ccc 1px;
    cursor: pointer;
  }
  #overlay{	
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height:100%;
    display: none;
    /* background: rgba(0,0,0,0.6); */
    background: #000;
  }
  .cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
  }
  @keyframes sp-anime {
    100% { 
      transform: rotate(360deg); 
    }
  }
  .is-hide{
    display:none;
  }